<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" defer></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script type="text/javascript" class="init">
	

$(document).ready(function() {
	$('.plant_table').DataTable({
		"paging" : false
	});
} );

</script>

<table class="plant_table" style="width:100%">
	<thead>
		<tr>
			<th>Name</th>
			<th>Sun</th>
			<th>Height</th>
			<th>Category</th>
			<th>More Links</th>
		</tr>
	</thead>
	<tbody>
{% for category in include.plants %}
      {% for item in category.items %}
      	<tr>	
		<td>
			<a href="{{ item.permalink | prepend:site.baseurl }}">
				{{item.common_name}}
			</a>
			<br/>
			<span class="scientific_name">{{item.scientific_name}}</span>
		</td>
		<td class="sun_req">
			<div class="full_sun
				{% if item.sun_requirements contains 'Full Sun' %}
				  visible
				{% endif %}
			"></div> 
			<div class="part_shade
				{% if item.sun_requirements contains 'Part Shade' %}
				  visible
				{% endif %}
			"></div> 
			<div class="full_shade
				{% if item.sun_requirements contains 'Full Shade' %}
				  visible
				{% endif %}
			"></div> 
		</td>
		<td>
			{% if item.plant_size %}
				{% for plant_size_obj in item.plant_size %}
				   {% assign max_plant_height = plant_size_obj.height | last | plus: 0 %}
			 	   {% if max_plant_height <= 1.5 %}
				     <div class="height_category">
	                              Very Low
				     </div>
				     <div class="height">
					( < 1.5ft)
				     </div>
			 	   {% elsif max_plant_height <= 3 %}
				     <div class="height_category">
	                               Low
				     </div>
				     <div class="height">
				       ( < 3ft)
				     </div>
			 	   {% elsif max_plant_height <= 6 %}
				     <div class="height_category">
	                              Moderate	
				     </div>
				     <div class="height">
					( <  6ft)
				     </div>
			 	   {% elsif max_plant_height <= 10 %}
				     <div class="height_category">
	                              Tall 
				     </div>
				     <div class="height">
					(< 10 ft)
				     </div>
				   {% else %}
				      {{plant_size_obj.height | join: " - "}} feet	
				   {% endif %} 		
				   <br/>
				{% endfor %}
			{% endif %}
		</td>
		<td>
			{% comment %} TODO figure out how to handle category => url {% endcomment %}
			{% assign category_url = "/plants/" | prepend:site.baseurl | append:category.name | replace:" ","_" | replace:"-", "_" | replace:"&", "and" | downcase %}
			<a href="{{ category_url }}"> 
				{{category.name }}
			</a>
		</td>
		<td>
			{% if item.calscape_link %}
				<a href="{{item.calscape_link}}" target="_blank">View on Calscape</a>
			{% elsif item.calflora_link %}
				<a href="{{item.calflora_link}}" target="_blank">View on Calflora</a>
			{% endif %} 
		</td>
	</tr>
      {% endfor %}
{% endfor %}
	</tbody>
</table>

