<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" defer></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script type="text/javascript" class="init">
	

$(document).ready(function() {
  var plant_table = $('.plant_table').DataTable({
	"paging" : false
  });

  // create plant_data json
  var plant_data = [];
  {% for plant in include.plants %}
    plant_data.push({ "common_name" : "{{plant.common_name}}",
                      "sun_requirements" : "{{plant.sun_requirements | join: ','}}" 
                     });
  {% endfor %}

$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex, rowData, counter ) {

	var full_sun_requirement = $("#full_sun").is(":checked");
	var part_shade_requirement = $("#part_shade").is(":checked");
	var full_shade_requirement = $("#full_shade").is(":checked");

	var plant = plant_data[dataIndex];

  	if (full_sun_requirement) {
		if (plant.sun_requirements.indexOf("Full Sun") != -1) {
			return true;
		}
        }
  	if (part_shade_requirement) { 
		if (plant.sun_requirements.indexOf("Part Shade") != -1) {
			return true;
		}
        }
  	if (full_shade_requirement) {
		if  (plant.sun_requirements.indexOf("Full Shade") != -1) {
			return true;
		}
        }
        return false;
    }
);

    $(':checkbox').change(function() {
    // this will contain a reference to the checkbox   
    if (this.checked) {
	plant_table.draw();
    } else {
	plant_table.draw();
    }
  });
} );

</script>

<form action="#">
  <label for="sun_requirement">Sun Requirement</label>
  <input type="checkbox" value="full_sun" id="full_sun" checked />
  <label for="full_sun">Full Sun</label>
  <input type="checkbox" value="part_shade" id="part_shade" checked />
  <label for="part_shade">Part Shade</label>
  <input type="checkbox" value="full_shade" id="full_shade" checked />
  <label for="full_shade">Full Shade</label>
</form>

<table class="plant_table" style="width:100%">
	<thead>
		<tr>
			<th>Name</th>
			<th>Sun</th>
			<th>Height</th>
			<th>Category</th>
			<th>More Info</th>
		</tr>
	</thead>
	<tbody>
{% for item in include.plants %}
      	<tr>	
		<td>
			<a href="{{ item.permalink | prepend:site.baseurl }}">
				{{item.common_name}}
			</a>
			<div class="scientific_name">{{item.scientific_name}}</div>
		</td>
 		{% comment %}
		Use for sorting:
			Full Sun = a
			Part Shade = b
 			Full Shade = c
 		{% endcomment %}
		
		{% assign sort_param = "" %}
		{% assign full_sun_class = '' %}
		{% assign part_shade_class = '' %}
		{% assign full_shade_class = '' %}

		{% if item.sun_requirements contains 'Full Sun' %}
		   {% assign full_sun_class = 'visible' %}
		   {% assign sort_param = sort_param | append: "a" %}
		{% endif %}
		{% if item.sun_requirements contains 'Part Shade' %}
		   {% assign part_shade_class = 'visible' %}
		   {% assign sort_param = sort_param | append: "b" %}
		{% endif %}
		{% if item.sun_requirements contains 'Full Shade' %}
		   {% assign full_shade_class = 'visible' %}
		   {% assign sort_param = sort_param | append: "c" %}
		{% endif %}

		<td class="sun_req" data-order="{{sort_param}}">
			<div class="full_sun {{full_sun_class}}"></div>
			<div class="part_shade {{part_shade_class}}"></div>
			<div class="full_shade {{full_shade_class}}"></div>
		</td>
		
		{% assign height_category = "" %}
		{% assign height_text = "" %}

		{% if item.plant_size %}
			{% for plant_size_obj in item.plant_size %}
			   
 			   {% assign max_plant_height = plant_size_obj.height | last | plus: 0 %}
	
			   {% if max_plant_height <= 1.5 %}
			   	{% assign height_category = "Very Low" %}
			   	{% assign height_text = "( < 1.5 ft) " %}
			   {% elsif max_plant_height <= 3 %}
			   	{% assign height_category = "Low" %}
			   	{% assign height_text = "( < 3 ft) " %}
			   {% elsif max_plant_height <= 6 %}
			   	{% assign height_category = "Moderate" %}
			   	{% assign height_text = "( < 6 ft) " %}
			   {% elsif max_plant_height <= 10 %}
			   	{% assign height_category = "Tall" %}
			   	{% assign height_text = "( < 10 ft) " %}
			   {% else %}
			   	{% assign height_text = plant_size_obj.height | join: " - " | append: " feet" %}
			   {% endif %} 		
			{% endfor %}
		{% endif %}

		<td data-order="{{max_plant_height}}" >
		     <div class="height_category">
			{{ height_category }} 
		     </div>
		     <div class="height">
			{{ height_text }}
		     </div>
		</td>
		<td>
			{% comment %} TODO figure out how to handle category => url {% endcomment %}
			{% assign top_level_category = item.categories | first %}
			{% assign category_url = "/plants/" | prepend:site.baseurl | append:top_level_category | replace:" ","_" | replace:"-", "_" | replace:"&", "and" | downcase %}
			<a href="{{ category_url }}"> 
				{{top_level_category }}
			</a>
		</td>
		<td>
			{% if item.calscape_link %}
				<a href="{{item.calscape_link}}" target="_blank">View on Calscape</a>
			{% elsif item.calflora_link %}
				<a href="{{item.calflora_link}}" target="_blank">View on Calflora</a>
			{% endif %} 
		</td>
	</tr>
{% endfor %}
	</tbody>
</table>

