<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" defer></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script type="text/javascript" class="init">
	

$(document).ready(function() {
  var plant_table = $('.plant_table').DataTable({
	"paging" : false
  });
  
  // hack? move search box dom element
  $("#new_search_location").html($(".dataTables_filter"));

   // gather plant_data in json
   var plant_data = [];
   {% for plant in include.plants %}

        // gather plant height info
        var plant_max_height = 0;
        {% for attr in plant.plant_size %}
            // Plants with only one height will have same min and max height
            plant_min_height = '{{attr.height | first }}';
            plant_max_height = '{{attr.height | last }}';
        {% endfor %}
        
        // add plant data object
        plant_data.push({ "common_name" : "{{plant.common_name}}",
                          "categories" : "{{plant.categories | join: ','}}",
                          "sun_requirements" : "{{plant.sun_requirements | join: ','}}",
                          "height" : [plant_min_height, plant_max_height]
                           
                         });
    {% endfor %}

    var satisfies_sun_req = function(sun_req, plant) {
        if (sun_req == "any") {
            return true;
        } else if ((sun_req == "full_sun") && 
                   (plant.sun_requirements.indexOf("Full Sun") != -1)) {
            return true;
        } else if ((sun_req == "part_shade") &&
               (plant.sun_requirements.indexOf("Part Shade") != -1)) {
            return true;
        } else if ((sun_req == "full_shade") && 
               (plant.sun_requirements.indexOf("Full Shade") != -1)) {
                return true;
        } else {
            return false;
        } 	
    };
    
    var satisfies_height_req = function(height_req, plant) {
        var max_height = plant.height[plant.height.length - 1]; 
        if (height_req == "any") {
            return true;
        } else if ((height_req == "very_low") && (max_height <= 1.5) ) {
            return true;
        } else if ((height_req == "low") && (max_height > 1.5) && (max_height <= 3)) {
            return true;
        } else if ((height_req == "medium") && (max_height > 3) && (max_height <= 6)) {
            return true;
        } else if ((height_req == "tall") && (max_height > 6) && (max_height <= 10)) {
            return true;
        } else if ((height_req == "very_tall") && (max_height > 10)) {
            return true;
        } 
        return false;
    };

    var satisfies_category_req = function(cat_req, plant) {
        var categories = plant.categories.toLowerCase();
        if (cat_req == "any") {
            return true;
        } else if ((cat_req == "perennial_herbs") && 
                   (categories.indexOf("perennial herbs") != -1)) {
            return true;
        } else if ((cat_req == "shrubs") &&
               (categories.indexOf("shrubs") != -1)) {
            return true;
        } else if ((cat_req == "trees") &&
               (categories.indexOf("trees") != -1)) {
            return true;
        } else if ((cat_req == "annual_herbs") &&
               (categories.indexOf("annual herbs") != -1)) {
            return true;
        } else if ((cat_req == "grasses") &&
               (categories.indexOf("grasses") != -1)) {
            return true;
        } else if ((cat_req == "vines") &&
               (categories.indexOf("vines") != -1)) {
            return true;
        } else if ((cat_req == "ferns") &&
               (categories.indexOf("ferns") != -1)) {
            return true;
        } else {
            return false;
        } 	
    };
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex, rowData, counter ) {
	
	var selected_sun_requirement = $("select.sun_requirement").val();
	var selected_height_requirement = $("select.height_requirement").val();
	var selected_category_requirement = $("select.category_requirement").val();

	var plant = plant_data[dataIndex];
	
	return (satisfies_sun_req(selected_sun_requirement, plant) &&
	        satisfies_height_req(selected_height_requirement, plant) &&
            satisfies_category_req(selected_category_requirement, plant));
    }
);

    $('select.sun_requirement').change(function() {
	    plant_table.draw();
    });
    
    $('select.height_requirement').change(function() {
	    plant_table.draw();
    });
    
    $('select.category_requirement').change(function() {
	    plant_table.draw();
    });

      $("#submitBtn").click(function(){     
        console.log('clicked'); 
        // looks for any checked inputs
        var checkboxes = $( "input:checked" );

        var plant_ids = [];
        for (var i = 0; i < checkboxes.length; i++) {
            var checkbox = checkboxes[i];
            plant_ids.push($(checkbox).val());
        }
        console.log("plants selected", plant_ids);
        
        //TODO put plant_ids in query
        //$("#myForm").submit(); // Submit the form
    });
} );

</script>

{% if include.show_select %}
    <input id="submitBtn" type="submit" value="Create List" />
{% endif %}

<div class="plant_filters">
    <div id="new_search_location"></div>
    <div class="filter_input">
        <div class="input_label">
            Sun:
        </div>
        <select class="sun_requirement">
            <option value="any" selected="selected">Any</option>
            <option value="full_sun">Full Sun</option>
            <option value="part_shade">Part Shade</option>
            <option value="full_shade">Full Shade</option>
        </select>
    </div>
    <div class="filter_input">
        <div class="input_label">
            Height:
        </div>
        <select class="height_requirement">
            <option value="any" selected="selected">Any</option>
            <option value="very_low">Very Low</option>
            <option value="low">Low</option>
            <option value="medium">Moderate</option>
            <option value="tall">Tall</option>
            <option value="very_tall">Very Tall</option>
        </select>
    </div>
    <div class="filter_input">
        <div class="input_label">
            Category:
        </div>
        <select class="category_requirement">
            <option value="any" selected="selected">Any</option>
            <option value="perennial_herbs">Perennial Herbs</option>
            <option value="shrubs">Shrubs</option>
            <option value="trees">Trees</option>
            <option value="annual_herbs">Annual Herbs</option>
            <option value="grasses">Grasses</option>
            <option value="vines">Vines</option>
            <option value="ferns">Ferns</option>
        </select>
    </div>
</div>

<form id="myForm" method="get" action="{{'/plant_list' | prepend:site.baseurl }}">
    <input type="hidden" id="plants" value="" />
<table class="plant_table" style="width:100%" width="100%">
	<thead>
		<tr>
            {% if include.show_select %}
            <th>
            </th>
            {% endif %}
			<th>Name</th>
			<th>Sun</th>
			<th>Height</th>
			<th>Category</th>
			<!--
                <th>More Info</th>
            -->
		</tr>
	</thead>
	<tbody>
{% for item in include.plants %}
      	<tr>	
        {% if include.show_select %}
            <td>   
                <!-- TODO retain state if checkbox is selected? --> 
                <input type="checkbox" name="test" value="{{item.id}}" />
            </td>
        {% endif %}
		<td class="name">
            {% if item.icon %}
            <!--
                <img src="{{ item.icon | prepend: site.baseurl }}" alt="{{item.common_name}}"/>
            -->
            {% endif %}
            <div class="name">
                <a href="{{ item.permalink | prepend:site.baseurl }}">
                    {{item.common_name}}
                </a>
                <div class="scientific_name">{{item.scientific_name}}</div>
            </div>
		</td>
 		{% comment %}
		Use for sorting:
			Full Sun = a
			Part Shade = b
 			Full Shade = c
 		{% endcomment %}
		
		{% assign sort_param = "" %}
		{% assign full_sun_class = '' %}
		{% assign part_shade_class = '' %}
		{% assign full_shade_class = '' %}

		{% if item.sun_requirements contains 'Full Sun' %}
		   {% assign full_sun_class = 'visible' %}
		   {% assign sort_param = sort_param | append: "a" %}
		{% endif %}
		{% if item.sun_requirements contains 'Part Shade' %}
		   {% assign part_shade_class = 'visible' %}
		   {% assign sort_param = sort_param | append: "b" %}
		{% endif %}
		{% if item.sun_requirements contains 'Full Shade' %}
		   {% assign full_shade_class = 'visible' %}
		   {% assign sort_param = sort_param | append: "c" %}
		{% endif %}

		<td class="sun_req" data-order="{{sort_param}}">
			<div class="full_sun {{full_sun_class}}"></div>
			<div class="part_shade {{part_shade_class}}"></div>
			<div class="full_shade {{full_shade_class}}"></div>
		</td>
		
		{% assign height_category = "" %}
		{% assign height_text = "" %}

		{% if item.plant_size %}
			{% for plant_size_obj in item.plant_size %}
			   
 			   {% assign max_plant_height = plant_size_obj.height | last | plus: 0 %}
			   {%comment%} Decide what text to display to describe height. {%endcomment%}	
			   {% if max_plant_height <= 1.5 %}
			   	{% assign height_category = "Very Low" %}
			   	{% assign height_text = "< 1.5 ft " %}
			   {% elsif max_plant_height <= 3 %}
			   	{% assign height_category = "Low" %}
			   	{% assign height_text = "< 3 ft" %}
			   {% elsif max_plant_height <= 6 %}
			   	{% assign height_category = "Moderate" %}
			   	{% assign height_text = "< 6 ft" %}
			   {% elsif max_plant_height <= 10 %}
			   	{% assign height_category = "Tall" %}
			   	{% assign height_text = "< 10 ft" %}
			   {% else %}
			   	{% assign height_category = "Very Tall" %}
			   	{% assign height_text = " > 10 ft" %}
			   {% endif %} 		
			{% endfor %}
		{% endif %}

		<td data-order="{{max_plant_height}}" >
		     <div class="height_category">
			{{ height_category }} 
		     </div>
		     <div class="height">
			{{ height_text }}
		     </div>
		</td>
		<td>
			{% comment %} TODO figure out how to handle category => url {% endcomment %}
			{% assign top_level_category = item.categories | first %}
			{% assign category_url = "/plants/" | prepend:site.baseurl | append:top_level_category | replace:" ","_" | replace:"-", "_" | replace:"&", "and" | downcase %}
			<!-- <a href="{{ category_url }}">  -->
				{{top_level_category | capitalize }}
			<!-- </a> -->
		</td>
		<!--
		<td>
			{% if item.calscape_link %}
				<a href="{{item.calscape_link}}" target="_blank">View on Calscape</a>
			{% elsif item.calflora_link %}
				<a href="{{item.calflora_link}}" target="_blank">View on Calflora</a>
			{% endif %} 
		</td>
        -->
	</tr>
{% endfor %}
	</tbody>
</table>
</form>

