{% if include.garden_categories %}
<section class="browse">
    <h3>Browse plants  by habitat:</h3>
    <div class="list_categories">
        {% for garden_category in include.garden_categories %}
        <div class="list_category">
            <a href="#{{garden_category.tag}}">{{garden_category.name}}</a>
        </div>
        {% endfor %}
    </div>
    <div style="clear:both"></div>
</section>
<h3>View all plants:</h3>
{% for garden_category in include.garden_categories %}
    {% assign tag = garden_category.tag %}
    {% assign plants = site.plants | where_exp: "item", 
                                     "item.gardens contains tag" %}
    {% assign plant_groups = plants | group_by : "type" %} 

<h3 id="{{garden_category.tag}}" class="{{garden_category.habitat_category}}">{{ garden_category.name }}</h3>

{% include plant_cards.html 
    plants = plants
%}
{% endfor %}
{% else %}
<h3>View all plants:</h3>

{% assign plants = site.plants | where_exp: "item", 
                                 "item.gardens contains include.garden" %}
{% assign plant_groups = plants | group_by : "type" %} 

{% include plant_cards.html 
    plants = plants
%}
{% endif %}


