---
layout: single
---

{% assign garden = page.garden_tag_name | downcase %}
{% assign plants = site.plants | where_exp: "item", 
                                 "item.gardens contains garden" %}
{% assign plant_groups = plants | group_by : "type" %} 

{% if page.icon %}
    <img class="title_icon" src="{{page.icon | prepend: site.baseurl }}" title="{{page.name}} icon"/>
{% endif %}

<h1>{{ page.name }} </h1>
{% if page.subtext %}
<p>
    {{page.subtext}}
</p>
{% endif %}

{% if page.website %}
<p>
Website: <a href="{{page.website.url}}" target="_blank">
            {{page.website.name}}
         </a>
</p>
{% endif %}

<div style="clear:both"></div>

{{ content }}

<!-- todo use feature_row template? -->
{% for group in plant_groups %}
    <div class="cards plant_type header">
        <div class="type_icon {{group.name | replace: " ", "_" }}" title="{{group.name | capitalize}}"></div>
        <h3>{{group.name | capitalize}} ({{group.items.size}})</h3>
    </div>
    <div class="feature__wrapper">
        {% for plant in group.items %}
            <div class="feature__item plant card">
                <div class="archive__item">
                    <div class="archive__item-teaser">
                        <img src='{{plant.icon | prepend: site.baseurl }}' />
                        <span class="archive__item-caption">
                            Photo by 
                            <a href="{{plant.icon_attribution.url}}" target="_blank">{{plant.icon_attribution.name }}</a>
                        </span>
                    </div>
                    <div class="archive__item-body">
                        <h2 class="archive__item-title">
                            {{plant.common_name}}
                        </h2>
                        <div class="archive__item-excerpt">
                            {{plant.scientific_name | capitalize }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}


