---
layout: single
---

{% assign garden = page.garden_tag_name | downcase %}

{% if page.icon %}
<div class="main_icon_holder">
    <img class="title_icon" src="{{page.icon | prepend: site.baseurl }}" title="{{page.name}} icon"/>
</div>
{% endif %}

<h1>{{ page.name }} </h1>
{% if page.subtext %}
<p>
    {{page.subtext}}
</p>
{% endif %}

{% if page.website %}
<p>
Website: <a href="{{page.website.url}}" target="_blank">
            {{page.website.name}}
         </a>
</p>
{% endif %}

<div style="clear:both"></div>

<section class="summary-content">
    {% if page.address %}
    <div class="summary-address">
        <h2>Address</h2>
        <address>
        {% if page.address.line1 %}
            {{page.address.line1}}
        {% endif %}
        {% if page.address.line2 %}
            <br/>
            {{page.address.line2}}
        {% endif %}
        </address>
        {% if page.address.map %}
            <br/>
            <a href="{{page.address.map}}" target="_blank" >
                See map and directions
            </a>
        {% endif %}
    </div>
    {% endif %}
    {% if page.hours %}
    <div class="summary-hours">
        <h2>Hours</h2>
            <table class="hours-table">
            {% for hour in page.hours %}
                <tr>
                    <td>
                        {{hour.day}}
                    </td>
                    <td>
                        {{hour.time}}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% if page.hours_text %}
            {{page.hours_text}}
        {% endif %}
    </div>
    {% endif %}
    {% if page.more %}
    <div class="summary-more">
        <h2>More Information</h2>
            <ul>
            {% for more in page.more %}
                <li>
                <a href="{{more.url}}" target="_blank">
                    {{more.name}}
                </a>
                </li>
            {% endfor %}
            </ul>
    </div>
    {% endif %}
</section>

{{ content }}

{% if page.garden_categories %}
    {% for garden_category in page.garden_categories %}
        {% assign tag = garden_category.tag %}
        {% assign plants = site.plants | where_exp: "item", 
                                         "item.gardens contains tag" %}
        {% assign plant_groups = plants | group_by : "type" %} 

        <h3 class="{{garden_category.name | downcase | replace: " ", "_"  }}">{{ garden_category.name }}</h3>

        {% include plant_cards.html 
            plants = plants
        %}
    {% endfor %}
{% else %}
        {% assign plants = site.plants | where_exp: "item", 
                                         "item.gardens contains garden" %}
        {% assign plant_groups = plants | group_by : "type" %} 

        {{ garden_category.name }}

        {% include plant_cards.html 
            plants = plants
        %}
{% endif %}

