---
layout: archive
---
<div class="plant_header" style="margin-bottom:10px">
	<h6>{{page.common_name}}</h6>
	{{page.scientific_name}}
</div>
Sun requirements: {{page.sun_requirements | join: ", "}}
<br/>
View on <a href="{{page.calscape_link}}" target="_blank">Calscape</a>.
<br/>
{% comment %}Make observation display prettier {%endcomment %}
{% for observation in page.observations %}
	Observed in {{observation.location}}
	>  {{observation.location_detail}}
        ({{observation.last_spotted}})
	<br/>
{% endfor %}
	{{ content }}


